@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using model_asp.net_core.Models;
@{
    ViewData["Title"] = "Index";
    ViewData["Menu"]="Employee";
    Layout = "~/Views/Shared/_TinLayout.cshtml";
}

<div class="employee">
    <section class="search">
        <div class="add-btn">
            <a asp-area="" asp-controller="Employee" asp-action="Create">
                <i class="ri-add-line"></i>
                Adicionar</a>
        </div>
        <div class="sea">
            <div>
                <select>
                    <option>Selecione</option>
                    <option>Todos</option>
                    <option>Mais recentes</option>
                    <optgroup label="Província">
                        <option>Maputo</option>
                        <option>Gaza</option>
                        <option>Inhambane</option>
                        <option>Manica</option>
                    </optgroup>
                    <optgroup label="Order By">
                        <option>Asc</option>
                        <option>Desc</option>
                    </optgroup>
                </select>
            </div>
            <div class="select">
                <select>
                    <option>Selecione</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
            <div class="date">
                <div>
                    <input type="date" />
                </div>
                <label>á</label>
                <div>
                    <input type="date" />
                </div>
            </div>
        </div>
        <div class="search-btn">
            <input type="text" placeholder="Search .." />
            <a><i class="ri-search-line"></i></a>
        </div>
    </section>
    <section class="table">
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>Gender</td>
                    <td>Document</td>
                    <td>Doc. Number</td>
                    <td>Create At</td>
                    <td>Ação</td>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.listEmployee != null)
                {
                    @foreach (EmployeeModel em in ViewBag.listEmployee)
                    {
                        <tr>
                            <td>@em.Id</td>
                            <td>@em.Name</td>
                            <td>@em.Surname</td>
                            <td>@em.Gender</td>
                            <td>@em.Document</td>
                            <td>@em.DocNumber</td>
                            <td>@em.CreateAt.ToShortDateString()</td>
                            <td class="action">
                                <div class="edit">
                                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@em.Id">
                                        <i class="ri-pencil-line"></i>
                                    </a>
                                </div>
                                <div class="detail">
                                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@em.Id">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </div>
                                <div class="delete">
                                    <button value="@em.Id">
                                        <i class="ri-delete-bin-line"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>
</div>

@{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        const deleteEmployee=document.querySelectorAll('.delete button');
        for(var i=0;i<deleteEmployee.length;i++){
            deleteEmployee[i].addEventListener('click', function(){
            Swal.fire({
                title: 'Tem certeza?',
                icon: 'warning',
                html: 'Você não será capaz de reverter isso!<!--</br><p style="color:#e53935;font-style:inherit;font-size:14px;">[' + this.value + '][' + this.name + ']</p>-->',
                showCloseButton: false,
                showCancelButton: true,
                focusConfirm: false,
                focusCancel: false,
                confirmButtonText: 'Sim, excluir!',
                confirmButtonColor: '#e53935',
                cancelButtonText: 'Não, cancelar!',
                showLoaderOnConfirm: true,
                reverseButtons: true,

            }).then((result) => {
                if (result.isConfirmed) {
                            window.location.href = 'employee/delete/'+ this.value +'';
                } else {
                    Swal.fire({
                        title: 'Oops..!',
                        icon: 'info',
                        html: 'Não foi possível excluir este funcionário!',
                        focusConfirm: true,
                        confirmButtonText: 'OK, entendi!',
                        showLoaderOnConfirm: true,
                    });
                }
            });
        });
        }
    </script>

    if (ViewData["error"] != null)
    {
        <script type="text/javascript">
            Swal.fire({
                title: 'Erro!',
                icon: 'error',
                html: '@ViewData["error"]',
                focusConfirm: true,
                confirmButtonText: 'OK, entendi!',
                showLoaderOnConfirm: true,
            });
        </script>
    }
}

